.photos, .conteneur, .events {
	text-align: justify;
}

.photos {
  @extend %block;
  height: 420px;
  overflow: hidden;

  #slider {
  	height: 400px;
    margin-top: 0.5em;
  }

  .nivo-controlNav {
    margin-bottom: 1em;

    .nivo-control {
      border-radius: 100%;
      background: darken($body-bg-color, 20%);
      box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);

      &.active {
        background: $light-green;
      }
    }
  }
}

.conteneur {
  @extend %block;
}

.events {
  @extend %block;
}
