%block {
  background: white;
  border: 1px solid #DEDEDE;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  margin: 10px 0;
  padding: 0 15px 5px 15px;
}

.photos {
  @extend %block;
  // background-color: rgba(200, 0, 0, 0.2);
  height: 200px;
}

.conteneur {
  @extend %block;
  // background-color: rgba(0, 160, 0, 0.2);
}

.events {
  @extend %block;
  // background-color: rgba(0, 160, 0, 0.2);
  text-align: center;
}
