<h1>Topics</h1>

<p class="right">
  <%= link_to 'Nouveau sujet', new_topic_path, class: 'button' %>
</p>

<div class="clearer"></div>

<div class="group">
  <% @topics.each do |topic| %>
    <%= link_to topic, class: "item" do %>
      <%= topic.title %>
      <div class="right">
        Il y a <%= time_ago_in_words topic.updated_at %>
      </div>
    <% end %>
  <% end %>
</div>

