.content {
  font-family: "Helvetica";
  width: 90%;
  margin: auto;
  margin-top: 2em;
}

.gauche {
  float: left;
  width:calc(60% - 5px);
  margin-right: 5px;
  margin-left: 10%;
}

.droite {
  float: right;
  width:calc(20% - 5px);
  margin-left: 5px;
  margin-right: 10%;
}
