label {
  margin-bottom: 1em;
  line-height: 1em;
}

textarea, input[type="password"], input[type="email"] {
  @extend %block;
  color: $body-color;
  display: block;
  padding-top: 10px!important;
  margin-bottom: 1em;
  transition: 0.2s ease-in;
  width: 100%;
  box-sizing: border-box;

  &:focus {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  }
}

.field {
  min-height: 3em;
}
