label {
  margin-bottom: 1em;
  line-height: 1em;
}

textarea, input[type="text"], input[type="password"], input[type="email"] {
  padding: 10px;
  display: block;
  border: 1px solid darken(#dfe2e5, 10%);
  border-radius: 3px;
  margin-bottom: 1em;
  transition: 0.2s ease-in;
  width: 100%;
  box-sizing: border-box;

  &:focus {
    border-color: green;
    box-shadow: 1px 1px 5px rgba(0, 255, 0, 0.2);
  }
}

.field {
  min-height: 3em;
}
