@import url('https://fonts.googleapis.com/css?family=Lato');

@import "normalize.css";

@import "layout/header";
@import "layout/content";

@import "pages/index";

body {
  color: #333;
}

label {
  width: 200px;
  float: left;
  line-height: 1em;
}

input[type="text"] {
  padding: 5px;
  display: block;
}

.field {
  height: 3em;
}
